<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup - Step 1</title>
    <!-- <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <h2>Personal Details</h2>
    <form th:action="@{/users/signup-step1}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" th:field="*{firstName}" required>
        </div>
        <div class="form-group">
            <label for="middleName">Middle Name (Optional)</label>
            <input type="text" class="form-control" id="middleName" th:field="*{middleName}">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" th:field="*{lastName}" required>
        </div>
        <div class="form-group">
            <label for="fatherName">Father's Name</label>
            <input type="text" class="form-control" id="fatherName" th:field="*{fatherName}" required>
        </div>
        <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="date" class="form-control" id="dob" th:field="*{dob}" required>
        </div>
        <div class="form-group">
            <label for="mobileNumber">Mobile Number</label>
            <input type="tel" class="form-control" id="mobileNumber" th:field="*{mobileNumber}" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required>
        </div>
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
</div>
</body>
</html>
